In [1]:
import mysql.connector
import pandas as pd

In [2]:
pd.set_option("display.max_rows", None)

In [5]:
db = mysql.connector.connect(
    host="localhost",
    port="3306",
    user="root",
    password="mnb00754",
    database:"world"
)
print("db")

SyntaxError: positional argument follows keyword argument (3073169380.py, line 6)

In [ ]:
cursor = mydb.cursor()

In [ ]:
mycursor.execute("SELECT * FROM world.city LIMIT 10")

In [ ]:
for output in cursor:
    print(output)

In [ ]:
# Start query
query = """
SELECT * FROM world.city LIMIT 10
"""
# End query

result = pd.read_sql_query(query, mydb)

print(result.shape[0]," row returned")
print(result.shape[1]," columns returned")